<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
<h1>ALL PROJECTS</h1>
    <ol>
        {% for proj in projects %}
            <li><a href="/project/{{ proj._id }}">{{ proj.name}}{{ proj._id }}</a></li>
        {% endfor %}
    </ol>
</body>
</html>